
<div class="registration-form">
    <header>
        <h2>Stwórz konto</h2>
        <p>Wypełnij forularz</p>
    </header>
    <form [formGroup]="formAccountRegister" (ngSubmit)="canSendForm()">

        <div class="input-section email-section">
            <input #email formControlName="email" class="email" type="email" placeholder="Wpisz swój email" autocomplete="off" />
            <div class="animated-button"><span class="icon-paper-plane"><mat-icon> email</mat-icon></span><button style="cursor: none;" type="button" class="next-button email"><mat-icon>arrow_upward</mat-icon></button></div>
        </div>

        <div class="input-section login-section folded">
            <input #login formControlName="login" class="login" type="text" placeholder="Login musi mieć od 5 do 18 znaków."/>
            <div class="animated-button"><span class="icon-repeat-lock"><mat-icon>create</mat-icon></span><button style="cursor: none;" type="button" class="next-button login"><mat-icon>arrow_upward</mat-icon></button></div>
        </div>
        
        <div class="input-section password-section folded">
            <input #password formControlName="password" class="password" type="password" placeholder="Hasło musi mieć od 7 do 24 znaków." />
            <div class="animated-button"><span class="icon-lock"><mat-icon>lock</mat-icon></span> <button style="cursor: none;" type="submit" class="next-button password"><mat-icon>send</mat-icon></button></div>
        </div>

        <div class="success">
            <p>KONTO ZOSTAŁO STWORZONE</p>
            <p>Sprawdź swój email.</p>
        </div>
    </form>

</div>

<div id="background_animation">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
</div>