<!-- Canvas -->
<canvas class="orb-canvas"></canvas>
<!-- Overlay -->
<div class="overlay">
  <!-- Overlay inner wrapper -->
  <div class="overlay__inner">
    <!-- Title -->
    <h1 class="overlay__title">
      Zakupy
      <span class="text-gradient">w twojej</span> okolicy.
    </h1>
    <!-- Description -->
    <p class="overlay__description">
      W tej aplikacji możesz stworzyć liste zakupów, a także wyszukiwać lub dodawać produkty spożywcze.
      <strong>Skorzystaj teraz.</strong>
    </p>
    <!-- Buttons -->
    <div class="overlay__btns">

      <button style="cursor: none;" class="overlay__btn overlay__btn--transparent" routerLink="/createAccount">stwórz konto</button>
      <button style="cursor: none;" class="overlay__btn overlay__btn--transparent" routerLink="/log">zaloguj się</button>

      <button style="cursor: none;" class="overlay__btn overlay__btn--transparent" routerLink="/stuffs">produkty</button>
      <button style="cursor: none;" class="overlay__btn overlay__btn--transparent" routerLink="/add_stuff">dodaj produkt</button>
    </div>
  </div>
</div>