.show ::ng-deep{
    display: block;
    position: relative;
    z-index: 999;
    background-color: rgb(255, 255, 255);
    left: 50%;
    transform: translate(-50%, 0);
    width: 94%;
    min-height: 50px;
    padding-bottom: 50px;
}

.hide ::ng-deep{
    display: none;
}

#box{
    width: 270px;
    font-family: "Raleway";
    background-color: rgb(130, 233, 173);
    border-radius: 3px;
    padding: 6px 5px 0px 5px;
    position: relative;
    height: 49px;

    #basket{
        color: #4e90aa;
        padding: 5px;
        width: 37px;
        height: 37px;
        text-align: center;
        line-height: 26px;
        background: #f9f9f9;
        border-radius: 50%;
    }

    span:nth-of-type(2)
    {
        position: absolute;
        top: 28%;
        left: 36%;
        letter-spacing: 2px;
        color: #fdfdfd;
    }

    div{

        div>p>button{
            border: 1px solid rgb(197, 197, 197);
            margin-left: 4px;
            background-color: #fdfdfd;

            width: 30px;
            height: 30px;

            mat-icon{
                line-height: 25px;
                margin-left: -2px;
            }
        }

        div>p>button:nth-child(1){
            color: rgb(90, 179, 109);
        }

        div>p>button:nth-child(2){
            color: rgb(204, 54, 54);
        }

        button{
            background-color: #7fd9af;
            border-radius: 4px;
            margin-left: 5px;
            border: 1px solid #919090;
            color: aliceblue;
        }
    }
    
    #arrow{
        position: absolute;
        top: 15px;
        left: 50%;
        transform: translate(-50%, -50%);

        &.move{
            top: auto;
            transform: rotate(180deg) translate(-50%, -50%);
            bottom: -15px;
            left: 35%;
        }
        
        mat-icon{
            font-size: 36px;
            width: 35px;
            height: 35px;
            color: rgb(211, 206, 203);
        }
    }
}